/**
 * @name No Rounded Corners
 * @description A custom Discord theme with no rounded corners
 * @author ilothepyro
 * @version 1.8.3
 * @authorId 669543832588779520
*/

/* import theme modules */

/* main.css */
@import url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/source.css);

:root {
	container-name: root;
	--custom-guild-list-padding: 12px;
	--panel-backdrop-filter: none;
	--custom-channel-header-height: calc(var(--guildbar-avatar-size) + var(--space-xs));
}

body {
	container-name: body;

	/* sizes */
	--gap: 12px;
	/* spacing between panels */
	--divider-thickness: 4px;
	/* thickness of unread messages divider and highlighted message borders */
	--friends-title-bar-height: var(--custom-channel-header-height);
	--sidebar-border-bottom-width: 1px;
	--chatbar-border-top-width: 2px;
	--message-wrapper-bottom-width: 0px;
	/* width of the top border of the chatbar */
	--chatbar-height: var(--space-48);
	--userpanel-height: var(--chatbar-height);
	--dm-user-profile-footer-height: var(--chatbar-height);
    --announcementChannelFollowPrompt-height: var(--space-24);
	/* height of the chatbar */
	--chatbar-padding: 0px;
	/* padding of the chatbar */
	--chatbar-margin-top: calc(var(--space-md) - (2 * var(--space-md)));
	--custom-channel-textarea-text-area-height: var(--chatbar-height);
	--userpanel-width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + var(--app-border-width));
	--app-border-width: 1px;
	--spotify-container-width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) - calc(var(--custom-guild-list-padding)*2) - var(--app-border-width));
}

.visual-refresh {

	/* make everything square */

	*,
    *::before,
    *::after {
        border-radius: 0 !important;
    }

    .cc5dd25190031396-svg > mask,
    ._44b0c28be7879b7b-svg > rect,
    ._44b0c28be7879b7b-svg > circle,
    ._44b0c28be7879b7b-svg > g,
    ._44b0c28be7879b7b-svg rect[mask='url(#:rhi:)'],
    ._20a53846fe2e8513-avatar .a423bdd721ddcc83-status {
        display: none;
    }

    ._68edb95846a37624-mask > foreignObject,
    ._44b0c28be7879b7b-svg > foreignObject,
    ._2338f50c3988e5ec-svg > foreignObject {
        mask: none;
    }

    ._44b0c28be7879b7b-wrapper,
    ._1ce5d425feffd32a-container {
        --online-2: #43a25a;
        --dnd-2: #d83a41;
        --idle-2: #ca9654;
        --offline-2: #82838b;
        --streaming-2: #9147ff;
    }
    ._44b0c28be7879b7b-wrapper:has(rect)::after,
    ._1ce5d425feffd32a-container:has(.a423bdd721ddcc83-status)::after {
        content: '';
        display: block;
        position: absolute;
        height: 8px;
        width: 8px;
        bottom: -4px;
        right: -4px;
        border: 2px solid var(--background-base-lower);
    }
    ._44b0c28be7879b7b-wrapper:has(rect[fill='#45a366'])::after,
    ._1ce5d425feffd32a-container:has(.a423bdd721ddcc83-status[style='background-color: rgb(67, 162, 90);'])::after {
        background: var(--online-2) !important;
    }
    ._44b0c28be7879b7b-wrapper:has(rect[fill='#da3e44'])::after {
        background: var(--dnd-2) !important;
    }
    ._44b0c28be7879b7b-wrapper:has(rect[fill='#ffc04e'])::after {
        background: var(--idle-2) !important;
    }
    ._44b0c28be7879b7b-wrapper:has(rect[fill='#84858d'])::after {
        background: var(--offline-2) !important;
    }
    ._44b0c28be7879b7b-wrapper:has(rect[fill='#9147ff'])::after {
        background: var(--streaming-2);
    }

    .cc5dd25190031396-lowerBadge {
        border: 2px solid var(--background-base-lower);
        bottom: -4px;
        right: -4px;
    }
    .cc5dd25190031396-upperBadge {
        border: 2px solid var(--background-base-lower);
        top: -4px;
        right: -4px;
    }
    ._48112cbe77dc5022-folderGroup._48112cbe77dc5022-isExpanded > .dbd2630aec71879b-stack {
        overflow: visible !important;
    }

    ._3f21e80f8677ec40-slider > rect[rx='10'] {
        rx: 0 !important;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 0 !important;
    }

	rect {
		rx: 0 !important;
		ry: 0 !important;
	}

	._31fc2df9348cd84a-assetWrapper._31fc2df9348cd84a-assetWrapperMasked,
	.c6367b0f171ba6d7-inspectedIndicator {
		mask: none !important;
	}

	/* --- */

	/* set background and backdrop */
	._5e434347c823b592-guilds /* server list */, 
	._5e434347c823b592-sidebarList /* channel list (includes dm list) */,
	._5e434347c823b592-sidebarListRounded,
	._5e434347c823b592-panels /* user panel */,
	.f75fb00fb7356cbe-chat, /* chat */
	.f75fb00fb7356cbe-chat > .f75fb00fb7356cbe-subtitleContainer /* chat titlebar */,
	.f75fb00fb7356cbe-chatContent /* chat content */,
	.c8ffbb79449f399c-container /* member list */,
	.f75fb00fb7356cbe-content > .c8ffbb79449f399c-membersWrap /* forum post member list */,
	._133bf5eea8e33a34-container > ._9293f6b2fc12398a-container /* friends titlebar */,
	.f391e3680aff100a-container > ._9293f6b2fc12398a-container /* message requests titlebar */,
	._0920e02cc8fc7b7b-homeWrapper > ._9293f6b2fc12398a-container /* nitro page titlebar */,
	._01ae244280823725-container > ._9293f6b2fc12398a-container /* vc chat titlebar */,
	.fb64c9a451c49797-container > ._9293f6b2fc12398a-container /* new thread panel */,
	._133bf5eea8e33a34-peopleColumn /* online friends */,
	._133bf5eea8e33a34-nowPlayingColumn /* active now */,
	.c880e89226639033-scroller /* nitro page */,
	.f391e3680aff100a-container > .f75fb00fb7356cbe-content /* message requests */,
	._6db1d32c47b6ad72-shop /* shop */,
	.f75fb00fb7356cbe-content > aside > .c0bea05627c5dc35-outer /* dm user panel */,
	.a9e7064fdee8e9b0-searchResultsWrap /* search results */,
	.f369dba7416c67f0-container /* forum */,
	.fb64c9a451c49797-chat /* new thread panel */,
	.a592e1970a0ce22c-container /* server discovery */,
	.cb9592ad77576717-callContainer /* vc container */,
    ._5dec784a68542d60-panel /* streaming container */,
	.cb9592ad77576717-wrapper.cb9592ad77576717-sidebarOpen .cb9592ad77576717-callContainer /* vc container when chat open */,
	._722ffae0e1be2672-callContainer /* stage */,
    .f75fb00fb7356cbe-chat > .c791b281f2fedc32-header /* server members header */,
    .f75fb00fb7356cbe-chat > .d125d22cdfd32cfe-scrollerBase /* server members page */,
    .f75fb00fb7356cbe-chat > ._0b56311ebc6682e2-header  /* server channels and roles header */,
    .f75fb00fb7356cbe-chat > ._0b56311ebc6682e2-container /* server channels and roles page */, 
	.f75fb00fb7356cbe-content /* main content */,
	.f369dba7416c67f0-mainCard /* forum items */,
	#vc-spotify-player /* spotify player */,
	._01ae244280823725-container /* forum/thread chat */,
	.e6b7699ce8339e1c-sectionDivider /* resize section dividers to correct size */,
	.f75fb00fb7356cbe-channelBottomBarArea /* chatbar */ {
		background-color: var(--background-base-lower) !important;
		backdrop-filter: var(--panel-backdrop-filter) !important;
	}

	/* set background base lower */
	._8a7fc664acf53af6-backdrop /* server discovery top bar */ {
		background-color: var(--background-base-lower) !important;
	}

	/* set background chat background default */
	.b8880176888cc928-base  /* bar that pops up when someone is typing */ {
		background-color: var(--chat-background-default) !important;
	}

	/* set background modifier selected */
	._6e9f8dce4cc18de3-selected:hover /* chat bar i think */ {
        background-color: var(--background-modifier-selected) !important;
    }

	/* set message hover background */
	._5126c0cd07f243a0-message:hover {
		background: var(--background-message-hover);
	}

	/* set message popup background */
	.f7ecaca5c80dbf3a-wrapper {
		background-color: var(--background-surface-highest);
	}

	/* ----- BORDERS ----- */
	/* border top */
	._5e434347c823b592-panels /* user panel */,
	.f75fb00fb7356cbe-channelBottomBarArea /* chatbar */,
    .ef3116c2da186559-tree /* server nav bar */
    {
		border-top: var(--app-border-width) solid var(--app-frame-border) !important;
	}

	/* border top none */
    ._740174f3d6a2c8fe-channelTextArea,
	._740174f3d6a2c8fe-channelTextArea:focus-within /* chatbar focus-within*/
    {
		border-top: none !important;
	}

	/* border right */
	._5e434347c823b592-sidebarList /* dm and channel list */,
	._5e434347c823b592-panels /* user panel */
    {
		border-right: var(--app-border-width) solid var(--app-frame-border) !important;
	}

	/* border right none */
	._740174f3d6a2c8fe-channelTextArea /* chatbar */,
	._740174f3d6a2c8fe-channelTextArea:focus-within /* chatbar focus-within*/,
    ._44df51b030bd5ece-wrapper /* follow popup in announcement channels */
    {
		border-right: none !important;
	}

	/* border bottom */
    .e131a99484292a19-container /* vc container */
	{
		border-bottom: var(--app-border-width) solid var(--app-frame-border) !important;
	}

	/* border bottom none */
    ._5e434347c823b592-panels /* user panel */,
	._740174f3d6a2c8fe-channelTextArea /* chatbar */,
	._740174f3d6a2c8fe-channelTextArea:focus-within /* chatbar focus-within*/,
    ._44df51b030bd5ece-wrapper /* follow popup in announcement channels */
    {
		border-bottom: none !important;
	}

	/* border left */
    ._5e434347c823b592-panels /* user panel */,
	.c8ffbb79449f399c-members /* thread members list */,
    .f75fb00fb7356cbe-content > aside /* dm user panel */
    {
		border-left: var(--app-border-width) solid var(--app-frame-border) !important;
	}

	/* border left none */
	._740174f3d6a2c8fe-channelTextArea /* chatbar */,
	._740174f3d6a2c8fe-channelTextArea:focus-within /* chatbar focus-within*/,
	.c8ffbb79449f399c-container /* members list */,
    ._44df51b030bd5ece-wrapper /* follow popup in announcement channels */
    {
		border-left: none !important;
	}
	/* ------------------- */

	/* set background none */
	._2637a2609f343032-container /* channel list inner */,
	.clickable_f37cb1, /* --- */
	.f37cb1984c371ee5-header /* server name */,
	._133bf5eea8e33a34-container /* friends page group outer */,
	._5e434347c823b592-page, /* --- */
	.f75fb00fb7356cbe-title /* chat titlebar inner */,
	.c8ffbb79449f399c-members /* member list inner */,
	.c8ffbb79449f399c-member /* member list item */,
	.e6b7699ce8339e1c-privateChannels /* dm list */,
	._99e7cad8d4c55236-scroller /* dm list inner */,
	._133bf5eea8e33a34-tabBody /* online friends + active now group outer */,
	._7d20cf18f8a2784c-container /* active now inner */,
	._0920e02cc8fc7b7b-homeWrapper /* nitro page group inner */,
	.f07d62e29a48ceee-applicationStore /* nitro page group outer */,
	div[class="uploadArea_f75fb0 uploadArea_dbca3c"] /* dm vc container */ + div[class^="wrapper_cb9592"] /* dm vc wrapper */,
	._01ae244280823725-container /* vc chat + titlebar group */,
	.cb9592ad77576717-channelChatWrapper /* vc chat + titlebar group outer */,
	.fb64c9a451c49797-container /* new thread panel */,
	._23e6b439306f125a-standardSidebarView /* settings  */,
    ._23e6b439306f125a-contentRegion /* --- */,
    ._23e6b439306f125a-sidebarRegionScroller /* --- */,
    ._23e6b439306f125a-contentRegionScroller /* --- */,
	.cdf8a9a2bbd98bd3-wrapper /* message loading placeholders */,
	.cdf8a9a2bbd98bd3-wrapper > .fc817765600a960a-wrapper /* --- */,
	._740174f3d6a2c8fe-themedBackground /* chat bar inner */,
	._24502a4069848acb-root /* profile outer thing */,
	.c38106a3f0c3ca76-winButton /* windows button */ {
		background: none !important;
	}

	/* set panel backdrop filter */
	._409aa1aeee28d5f7-sidebar /* settings sidebar */ {
		backdrop-filter: var(--panel-backdrop-filter) !important;
	}

	/* base grid */
	._5e434347c823b592-base {
		display: grid;
		grid-template-columns: [start] min-content [guildsEnd] min-content [channelsEnd] 1fr [end];
		grid-template-rows: [top] var(--custom-app-top-bar-height) [titleBarEnd] min-content [noticeEnd] 1fr [contentEnd] min-content [end];
		grid-template-areas:
			'titleBar titleBar titleBar'
			'guildsList notice notice'
			'guildsList channelsList page'
			'userPanel userPanel page';
	}

	/* small user panel */
	._5e434347c823b592-base {
		grid-template-areas:
			'titleBar titleBar titleBar'
			'guildsList notice notice'
			'guildsList channelsList page'
			'guildsList userPanel page';
	}

	/* user panel */
	._5e434347c823b592-panels {
		position: static;
		border: 0;
		bottom: 0;
		inset-inline-start: 0;
		grid-area: userPanel;
		width: var(--userpanel-width);
		margin: 0px 0px 1px 0px;
		overflow: hidden;
	}

	/* server sidebar */
	._5e434347c823b592-panels {
		margin: 0;
	}

	.ef3116c2da186559-wrapper {
		margin-bottom: 0;
	}

	._37e49614b9f110a9-container {
		height: var(--userpanel-height);
	}

	._37e49614b9f110a9-avatarWrapper {
		margin: 0px 0px 0px calc(0px - var(--space-8) - (var(--app-border-width) * 2));
		padding: var(--space-8) 0px var(--space-8) var(--space-8);
	}

	.e131a99484292a19-connection{
		height: auto !important;
	}

	._5e434347c823b592-sidebar /* server list + channel list + user panel group */ {
		margin: 0;
		border-bottom: 0 !important;
	}

	/* server list */
	._5e434347c823b592-guilds {
		margin-bottom: 0;
	}

	/* server list inner scroller */
	.ef3116c2da186559-scroller {
		padding-top: var(--custom-guild-list-padding);
	}

	/* channel list inner */
	._2637a2609f343032-container {
		padding-bottom: 0;
	}

	/* fix discord's idiotic server banners */
	.f37cb1984c371ee5-bannerImage,
	.f37cb1984c371ee5-bannerImg {
		width: 100%;
	}
	.f37cb1984c371ee5-bannerVisible .f37cb1984c371ee5-headerEllipseBackdrop {
		display: none;
	}
	.f37cb1984c371ee5-headerGlass {
		top: 0;
		left: 0;
		right: 0;
		width: auto;
	}

	/* server list + channel list bottom shadow */
	._5e434347c823b592-sidebar:after {
		display: none;
	}

	/* friends page group outer */
	._5e434347c823b592-page>.f75fb00fb7356cbe-chat,
	._5e434347c823b592-page>._133bf5eea8e33a34-container {
		padding: 0;
	}
	._133bf5eea8e33a34-container>._9293f6b2fc12398a-container {
		height: var(--friends-title-bar-height) !important;
	}

	/* friends, message requests, + other stuff titlebar */
	._9293f6b2fc12398a-container {
		height: var(--custom-channel-header-height) !important;
	}

	/* chat titlebar inner */
	.f75fb00fb7356cbe-title {
		margin-bottom: 0;
	}

	/* chat */
	.f75fb00fb7356cbe-chatContent {
		overflow: hidden;
	}

	/* remove unnecessary border colour transition from chat bar and chat bar focus-within */
	._740174f3d6a2c8fe-channelTextArea,
	._740174f3d6a2c8fe-channelTextArea:focus-within {
		transition: none !important;
	}

	/* member list */
	.c8ffbb79449f399c-container {
		overflow: hidden;
		height: auto;
		min-width: var(--custom-member-list-width);
	}

	/* forum post member list */
	.f75fb00fb7356cbe-content>.c8ffbb79449f399c-membersWrap {
		overflow: hidden;
		height: auto;
	}

	._01ae244280823725-resizeHandle /* resize handle */ {
		background: transparent;
	}

	/* dm list, dm list inner, and channel list */
	.e6b7699ce8339e1c-privateChannels, ._99e7cad8d4c55236-scroller, ._629e4c86564a4ee7-scroller {
		margin-bottom: 0;
		padding-bottom: 0;
	}

	/* shop */
	._6db1d32c47b6ad72-shop {
		overflow: hidden;
		height: auto;
	}

	/* shop inner scroller */
	._084152b107f71237-shop {
		margin-top: calc(var(--custom-channel-header-height) * -1 - 16px);
	}

	/* dm user panel */
	.f75fb00fb7356cbe-content > aside > .c0bea05627c5dc35-outer > .c0bea05627c5dc35-inner > ._7f9c030b25536e94-footer {
		height: var(--dm-user-profile-footer-height);
	}
	.f75fb00fb7356cbe-content > aside > .c0bea05627c5dc35-outer > .c0bea05627c5dc35-inner > ._7f9c030b25536e94-footerButton {
		height: 100%;
	}

	/* dm and server finder */
	.e6b7699ce8339e1c-searchBar {
		padding: var(--space-xs) var(--space-xs) !important;
	}

	/* dm and server finder button */
	.e6b7699ce8339e1c-searchBar > button {
		height: 100% !important;
	}

	/* notice banner */
	._6e2b9359c6f84cfd-notice {
		margin: 0;
	}

	/* vc container */
	.cb9592ad77576717-callContainer {
		overflow: hidden;
	}

	._01ae244280823725-container /* vc chat + titlebar group */ {
        border: none;
        background: none;
    }

	/* vc chat shadow */
	.a44415a3320e67de-chat::before {
		display: none;
	}

	.cb9592ad77576717-channelChatWrapper /* vc chat + titlebar group outer */ {
        background: none;
    }

	/* forum/thread chat outer */
	._5e434347c823b592-page > div > ._01ae244280823725-chatLayerWrapper {
		margin: 0 !important;
		height: 100% !important;
	}

	/* forum/thread chat */
	._01ae244280823725-container {
		margin: 0 !important;
		padding: 0 !important;
	}

	.fb64c9a451c49797-container /* new thread panel */ {
        background: none;
    }

	/* new thread panel chat shadow */
	.fb64c9a451c49797-chat::before {
		display: none;
	}

	/* server discovery */
	.a592e1970a0ce22c-container {
		overflow: hidden;
	}

	/* unread messages bar */
	._0f481cbbd7530492-newMessagesBar {
		top: 12px;
		left: 12px;
		right: 12px;
		padding: 0 8px;
	}

	/* channel list non-community unread pill */
	._629e4c86564a4ee7-unreadBottom {
		bottom: calc(var(--space-8))
	}

	._7aaec78b97ff00f7-bottom /* channel list new unreads pill */ {
        bottom: 0;
    }

	.ef3116c2da186559-unreadMentionsIndicatorBottom /* server list new pill */,
    .ef3116c2da186559-unreadMentionsIndicatorTop {
		width: calc(var(--guildbar-avatar-size) + var(--custom-guild-list-padding) * 2);
		padding: calc(var(--custom-guild-list-padding) / 2);
	}

	/* jank ass solution to only apply padding to treatment 3 */
	/* chat bar outer form */
	.f75fb00fb7356cbe-form {
		--space-8: 16px;
	}
	/* chat bar inner */
	.f75fb00fb7356cbe-channelBottomBarArea {
		--space-8: 8px;
	}

	._0923f156a0410684-attachWrapper {
		padding: var(--space-8) calc(var(--space-md) - 6px) !important;
	}

	/* get rid of extra space in treatment 2 */
	._740174f3d6a2c8fe-accessoryBar {
		padding-top: 0;
	}

	/* actual typing area */
	.ec4baf0360ff3578-slateTextArea {
		margin-left: 2px;
	}

	/* improve unread divider */
	._908e20001ad67812-endCap {
		margin-top: calc(var(--divider-thickness) / -2);
	}
	._908e20001ad67812-divider ._908e20001ad67812-content {
		margin-top: calc(var(--divider-thickness) - var(--divider-thickness) * 2);
	}

	/* improve highlight message left edge */
	._5126c0cd07f243a0-message._5126c0cd07f243a0-mentioned::before,
    ._5126c0cd07f243a0-replying::before,
    ._5126c0cd07f243a0-ephemeral::before {
		width: var(--divider-thickness);
		left: calc(var(--divider-thickness) / -2 + 1px);
	}

	/* improve server selected marker */
	.e5445cbd3ad226f2-pill._581051df43c5ebb6-wrapper {
		width: calc((var(--custom-guild-list-padding) - 4px) / 2 + 4px);
	}
	._581051df43c5ebb6-item {
		width: 4px;
		margin-left: calc((var(--custom-guild-list-padding) - 4px) / 2);
	}

	/* remove unnecessary backgrounds */
	._160d8e55254637e5-app,
	#app-mount,
	body {
		background: transparent !important;
	}

	/* move top bar title */
	.c38106a3f0c3ca76-title {
		padding-left: calc(1px + var(--gap));
		justify-content: flex-start;
	}

	.edbb22df99c39831-title {
		gap: 4px;
	}

	/* remove help button */
	.c38106a3f0c3ca76-trailing > a[href="https://support.discord.com"] {
		display: none;
	}

	/* resize section dividers to correct size */
	.e6b7699ce8339e1c-sectionDivider {
		box-shadow: none !important;
		width: 100%;
		height: 0px !important;
		margin: var(--space-12) var(--space-8);
	}

	/* flip chatbar */
	.f75fb00fb7356cbe-form {
		display: flex;
		flex-direction: column;
		padding: 0 !important;
		margin-top: var(--chatbar-margin-top) !important;
		margin-bottom: 0;
	}
	.f75fb00fb7356cbe-channelTextArea {
		margin-bottom: 0px;
	}
	.b8880176888cc928-base  {
		position: static;
		order: -1;
		padding: 0 8px;
		margin-bottom: 0px;
	}
	.f75fb00fb7356cbe-form:has(.b8880176888cc928-base ) {
		.channelTextArea_f75fb0 {
			margin-bottom: 0px;
		}
	}
	._36d072eab2b2e737-scrollerSpacer {
		height: 24px;
	}
	._36d072eab2b2e737-scroller::-webkit-scrollbar-track {
		margin-bottom: calc(20px + var(--chatbar-padding));
	}

    /* fix announcement follow prompt */
    .f75fb00fb7356cbe-form:has(._44df51b030bd5ece-wrapper) {
        padding-inline: 0px;
    }

    ._44df51b030bd5ece-wrapper {
        margin-bottom: 0px;
        height: var(--announcementChannelFollowPrompt-height);
    }

	#app-mount {
		--panel-backdrop-filter: blur(var(--blur-amount));
	}

	._0f481cbbd7530492-bottomBar {
		padding: 6px;
		margin-bottom: 40px !important;
	}

	._0f481cbbd7530492-jumpToPresentBar > .a22cb0c66246f5d3-button {
		height: 26px !important;
	}
}

[class*='scroll'] {
	will-change: scroll-position;
}

._23977d5b7cef7361-burstGlow {
	display: none;
}

body {
	--divider-thickness: 4px;
	--custom-app-top-bar-height: 24px;
	--window-control-size: 14px;
	--blur-amount: 12px;
}

body {
	--custom-window-controls: on;
}

/* Hides Store and Shop button */
[href="/store"],   
[href='/shop'] {
	display: none;
}

/* Hide Add Media and Nitro Gift button */
span[id="«r651»"] + ._740174f3d6a2c8fe-spacer,
._740174f3d6a2c8fe-spacer + div[class="c0c49a3e5c8626ac-container"],
div[aria-label="Add Media"],
div[aria-label="Send a gift"] {
	display: none;
}